<% if comment.user.present? %>
  <div class="nav navbar-default">
    <div id="comment-body">
      <div class="navbar-header" id="comment-user">
        <%= image_tag comment.user.image_url(:thumb), width: 20, height: 20, class: "img-circle" unless comment.user.image_url.nil? %>
      </div>
      <div class="navbar-left">
        <%= link_to user_profile_path(comment.user) do %>
          <p class="text-success" id="comment-name"><%= comment.user.name %></p>
        <% end %>
      </div>
      <div class="navbar-left">
        <p class="text-default" id="comment-content"><%= comment.content %></p>
      </div>
    </div>
  </div>
<% end %>
