<%= render "layouts/notice-box" %>

<div class="clear-fix">

  <div class="col-md-4" id="profile">
    <div class="panel panel-default animated fadeIn">

      <div class="panel-heading" id="profile-head">
        <div class="nav">
          <div class="navbar-left">
            <%= image_tag @user.image_url(:medium), width: 100, height: 100 unless @user.image_url.nil? %>&nbsp&nbsp
          </div>
        </div>
      </div>

      <%= render "profile" %>

    </div>
  </div>

  <div class="col-md-8">
    <%= render @posts || "posts/post"  %>
  </div>
</div>
