<% if notice.present? %>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default animated fadeIn" id="notice-box">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
<% end %>
