<!DOCTYPE html>
<html>
  <head>
    <title>Markbook</title>
    <%= render "layouts/header" %>
  </head>

  <body>
    <div class="navbar navbar-inverse" id="Zuckerbar">
      <div class="container">
        <%= render "layouts/zuckerbar" %>
      </div>
    </div>

    <div class="container" id="main">
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <div class="navbar navbar-nav navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <center>
            <button id="message-open" onclick="openMessageBoard()">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button id="message-close" onclick="closeMessageBoard()">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </center>
          <center>
            <%= render "layouts/messages" %>
          </center>
        </div>
      </div>

      <script>
        function openMessageBoard(){
          document.getElementById("message-open").style.display="none"
          document.getElementById("message-close").style.display="block"
          document.getElementById("message-board").style.display="block"
          document.getElementsByTagName("body")[0].style.padding=" 0 0 250px 0"
        }
        function closeMessageBoard(){
          document.getElementById("message-open").style.display="block"
          document.getElementById("message-close").style.display="none"
          document.getElementById("message-board").style.display="none"
          document.getElementsByTagName("body")[0].style.padding=" 0 0 50px 0"
        }
      </script>
    <% end %>

  </body>
</html>
